@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,800');

$font-text: 'Open Sans', sans-serif, Arial;



@function em($el,$parent:16px){
    @return($el / $parent) * 1em
}

$font-size: em(14px);
$h3-size: $font-size * 1.15;
$h2-size: $font-size * 1.35;
$h1-size: $font-size * 1.7;


$colors:(
    
    blanco:#F9FBE7,
    

);

@function getcolor($color){
    @return map-get($colors,$color);
   }




   @mixin desde($size){
    @media screen and (min-width: $size){
        @content;
    }
}

// breakpoints

$small: 480px;
$medium:769px;
$large:1025px;
$x-large:1400px;

//Fuentes
$light:300;
$regular:400;
$bold:700;
$extra-bold:800;

$max-width:1200px;