<!-- Navigation -->
<nav class="navbar navbar-guest" role="navigation" aria-label="main navigation">
  <div class="container is-fluid">
    <div class="navbar-brand"><a class="navbar-item logo" href="/">
        <div class="is-italic"><span class="is-size-4">Coco</span> <span class="text-blue has-text-link is-size-5">Pay</span><span class="text-blue has-text-info is-size-5">Pal</span></div></a>
      <button class="button navbar-burger" data-target="navMenu"><span></span><span></span><span></span></button>
    </div>
    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start"></div>
      <div class="navbar-end">
        <div class="navbar-item" id="logout"></div>
      </div>
    </div>
  </div>
</nav>