.hero--modify {
    padding-top: 1em;
    padding-bottom: 8em;
}

.hero--table__info {
    margin-top: -5em;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table__info {
    width: 100%;
    margin-top: 5em;
}